<footer class="footer">
	<small>
		Minerva Reading Site (probably change this at some point)
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path%></li>
			<li><%= link_to "Contact", contact_path%></li>
		</ul>
	</nav>
</footer>
